<h1 class="cart-title">Tú carrito de compras</h1>
<div id="container-products" data-cart-id={{cart._id}} class="cart-container">
    <h2 class="cart-subtitle">Productos en el carrito</h2>
    {{#if products.length}}
    <ul class="cart-ul">
        {{#each products}}
        <li class="product">
            <h3 class="cart-product-title">{{this.product.title}}</h3>
            <div class="cart-description-price">
                <p class="cart-quantity">Cantidad: <span class="product-quantity">{{this.quantity}}</span></p> 
                <button class="btn-increase" data-product-id={{this.product._id}}>+</button>
                <button class="btn-decrease" data-product-id={{this.product._id}}>-</button>
            </div>
            <p class="cart-price">Precio unitario: ${{this.product.price}}</p>
            <p class="cart-total">Total: ${{this.total}}</p>
            <button class="button-delete-product" data-product-id={{this.product._id}}>Eliminar producto</button>
        </li>
        {{/each}}
    </ul>
    <p> Total del carrito: ${{totalPrice}}</p>
    {{else}}
    <p class="cart-txt">No hay productos en el carrito.</p>
    {{/if}}
    <button class="cart-empty" id="empty-cart">Vaciar carrito</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module" src="/js/carts.js"></script>