<div class="details-container">
    <h1 class="details-title">Detalles del producto</h1>
    <div class="detail-content">
        <h2 class="detail-title">{{productID.title}}</h2>
        <div class="detail-img">
            <img src="{{productID.thumbnail}}" alt="imagen del producto">
        </div>
        <div class="detail-description">
            <p class="detail-txt">Descripción: {{productID.description}}</p>
            <p class="detail-txt">Stock disponible: {{productID.stock}}</p>
            <p class="detail-txt">${{productID.price}}</p>
            <button class="detail-button" id="detail-button" data-product-id={{productID._id}}>Agregar al carrito</button>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module" src="/js/addProductCart.js"></script>